@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.navbar, .header, footer {
    background: #1f2937;
    color: #fff;
}

.navbar .logo {
    font-size: 24px;
    color: #f9faf8;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.navbar a:hover {
    color: lightblue;
}

.header h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header p {
    font-size: 18px;
    color: #e5e7eb;
}

.header img {
    max-width: 400px;
}

.content h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.box {
    background: #0a51cc;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f237;
    background: #e5e7eb;
}

.signup .container {
    color: #fff;
    background: #3882f6;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}

button {
    background-color: #3882f6;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 10px;
    padding: 5px 20px;
}